body {
    font-family: 'Inter';
    /*overflow: hidden;*/
    background: #F8F9FC;
}


.container {
    max-width: 1380px;
}

.color_gray {
    color: #506B84;
}

.color_gray_more {
    color: rgba(80, 107, 132, 0.5);

}

.color_white {
    color: white !important;
}

.gray_bg {
    background: #F8F9FC;
}

.main_back {
    background: #0B378C;
}

.icon_little i {
    margin-right: 15px;
    border-radius: 50%;
    width: 17px;
    height: 17px;
    display: flex;
    align-items: center;
    padding: 12px;
    font-size: 13px;
    justify-content: center;
    color: white;
    border: 1px solid white;
}

.main_btn {
    color: white;
    background: #0B378C;
    border: 1px solid rgba(80, 107, 132, 0.1);
    box-shadow: 22px 9px 10px rgba(0, 0, 0, 0.01), 12px 5px 8px rgba(0, 0, 0, 0.05), 6px 2px 6px rgba(0, 0, 0, 0.09), 1px 1px 3px rgba(0, 0, 0, 0.1), 0px 0px 0px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}

/*button:hover {*/
/*    !*opacity: 0.5;*!*/
/*    background: #a4a4a4 !important;*/
/*    color: white !important;*/
/*}*/
.main_btn:hover {
    /*opacity: 0.5;*/
    background: #304894 !important;
    color: white !important;
}

.f-16 {
    font-size: 16px;
    font-weight: 600;
}

.f-24 {
    font-weight: 300;
    font-size: 24px;
}

.f-40 {
    font-weight: 600;
    font-size: 40px;
}

.f-32 {
    font-weight: 600;
    font-size: 32px;
}

.about_big_number {
    font-size: 70px;
    font-weight: 700;
    padding: 0;
    margin: 0;
}

/*header*/
.navbar-collapse {
    flex-grow: 0 !important;
}

.header .header_social {
    margin-left: 30px;
}

.navbar-nav a {
    font-size: 17px;

    font-weight: 600;
    word-break: normal;
}

.main_nav a {
    color: #506B84 !important;
}

.navbar-nav .nav-item {
    margin-right: 20px;
}

.nav-item:last-child {
    margin-right: 0;
    padding-right: 0;

}

.lang a {
    color: white;
    font-size: 16px;
    font-weight: 600;
}

.lang .dropdown-item {
    color: black;
    padding: 0 15px;
}

/*End header*/
.main_banner {
    background-size: cover;
    object-fit: cover;
}

.banner_context {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, 50%);
    color: white;
    text-align: center;
    font-weight: 700;
}

.banner_context_title {
    font-size: 50px;
}

.banner_context_text {
    font-size: 20px;
}

/*searching area*/
.searching_tools .dropdown {
    box-shadow: 22px 9px 10px rgba(0, 0, 0, 0.01), 12px 5px 8px rgba(0, 0, 0, 0.05), 6px 2px 6px rgba(0, 0, 0, 0.09), 1px 1px 3px rgba(0, 0, 0, 0.1), 0px 0px 0px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    background: #FFFFFF;
    border: 1px solid rgba(80, 107, 132, 0.1);
}

.main_banner {
    height: 85vh;
}

.searching_tools_dropdown {
    background: #FFFFFF;
    border: 1px solid rgba(80, 107, 132, 0.1);
    box-shadow: 22px 9px 10px rgba(0, 0, 0, 0.01), 12px 5px 8px rgba(0, 0, 0, 0.05), 6px 2px 6px rgba(0, 0, 0, 0.09), 1px 1px 3px rgba(0, 0, 0, 0.1), 0px 0px 0px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}

.searching_tools_dropdown button {
    padding: 10px 0;
}

.checkbox_block_container {
    display: block;
    position: relative;
    padding-left: 35px;
    font-weight: 600;
    font-size: 18px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.checkbox_block_container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}


.checkmark {
    position: absolute;
    top: 3px;
    left: 0;
    height: 20px;
    width: 20px;
    /*background-color: #eee;*/
    border: 2px solid rgba(11, 55, 140, 0.54);;
    border-radius: 2px;
}

/* On mouse-over, add a grey background color */
.checkbox_block_container:hover input ~ .checkmark {
    /*background: rgba(11, 55, 140, 0.54);*/
}

/* When the checkbox is checked, add a blue background */
.checkbox_block_container input:checked ~ .checkmark {
    /*background: rgba(11, 55, 140, 0.54);*/
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.checkbox_block_container input:checked ~ .checkmark:after {
    display: block;
}

/* Style the checkmark/indicator */
.checkbox_block_container .checkmark:after {
    left: 5px;
    top: 1px;
    width: 5px;
    height: 10px;
    border: solid #506B84;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.checkbox_block {
    margin: 0 15px 20px 0;
}

.price_input {
    padding: 25px;
    border: 1px solid rgba(80, 107, 132, 0.1);
    box-shadow: 22px 9px 10px rgba(0, 0, 0, 0.01), 12px 5px 8px rgba(0, 0, 0, 0.05), 6px 2px 6px rgba(0, 0, 0, 0.09), 1px 1px 3px rgba(0, 0, 0, 0.1), 0px 0px 0px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}

.price_input_label {
    font-size: 18px;
    font-weight: 500;
}

#chartdiv {
    width: 100%;
    height: 500px;
}

/*Advantage*/
.advantage {
    background-size: cover;
    height: 60vh;
    background: url(../uploads/banners/advantage.png);
    background-size: cover;
    background-repeat: no-repeat;
}

.advantage_block_title {
    padding-top: 3%;
    color: white;
    font-size: 40px;
}

.advantage_block_text {
    color: white;
    font-size: 24px;
    font-weight: 300;
}

/*products*/
.products {
    background: #F8F9FC;
}

.title_product {
    font-size: 20px;
    font-weight: 600;
}

.product_card {
    /*border: 1px solid #E5E8EB;*/
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.15);
    background: white;
}

.price_product {
    /*white-space: pre;*/
    font-size: 18px;
}

img {
    vertical-align: middle;
}

.tag_item {
    font-weight: 500;
    font-size: 10px;
    color: white;
    background: #FD8B19;
    border-radius: 3px;
    padding: 3px 10px;

}

.tag_item {
    margin: 0 10px 10px 0;
}

.product_footer__room_size {
    font-weight: 500;
    font-size: 13px;
    margin-bottom: 9px;
}

.ribbon {
    font-weight: 500;
    font-size: 12px;
    position: absolute;
    right: 0;
    top: 20px;;
    color: white;
    padding: 3px 9px;
    background: #43D56C;
    /*border: 1px solid rgba(80, 107, 132, 0.1);*/
    box-shadow: 22px 9px 10px rgba(0, 0, 0, 0.01), 12px 5px 8px rgba(0, 0, 0, 0.05), 6px 2px 6px rgba(0, 0, 0, 0.09), 1px 1px 3px rgba(0, 0, 0, 0.1), 0px 0px 0px rgba(0, 0, 0, 0.1);
}

/*end product*/


/*Type bulding*/
.type_build {
    padding: 60px 0;

    /*padding-bottom: 50px;*/
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.8)), url(../uploads/banners/type.png);
}

.type_buildings {
    margin: 60px 0;

}

.type_buildings_item {
    width: 100%;

    height: 100%;
    /*background: #FFFFFF;*/
    border: 1px solid #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    padding: 60px 20px;
    text-align: center;
    cursor: pointer;
}

.type_buildings_item {
    color: white;
    overflow: hidden;
    transition: .5s all;
}

.type_buildings_item i {
    font-size: 100px;
}

.type_buildings_item_text {
    margin-top: 30px;
}

.type_buildings_item_text span {
    font-weight: 600;
    font-size: 26px;
    color: white;
}

.type_buildings_item:hover {
    background: white;
    color: black;
}

.type_buildings_item:hover .type_buildings_item_text span {

    color: black;
}

.card_text {
    position: absolute;
    width: 100%;
    /*left: 50%;*/
    bottom: 38px;
    color: white;
    /*transform: translate(-50px,-50%);*/
}

.card_text:after {
    /*content: "";*/
    /*position: absolute;*/
    right: 0;
    bottom: -50px;
    background: red;
    height: 5px;
    width: 100%;
    transform: rotate(90deg);
}

.form_block {
    color: white;
    background: #0B378C;
}

.form_block i {
    margin-right: 20px;
    font-size: 40px;
}

/*Our team*/
.team_card {
    margin: 0 40px;
}

.team_card_img {
    border: 3px solid #FD8B19;
    border-radius: 50%;
    padding: 20px 0;
    overflow: hidden;
}

.team_card_img img {
    height: 100%;
    transform: scale(1.2);
}

.team_card_phone,
.team_card_phone a {
    font-weight: 600;
    text-decoration: none;
    color: #FD8B19;
}

.team_card_phone i {
    border: 1px solid #FD8B19;
    border-radius: 50%;
    padding: 5px;
}

.card_social i {
    margin-right: 15px;

    border-radius: 50%;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    padding: 5px;
    justify-content: center;
    color: white;
    border: 1px solid white;

}

.team_card_social i {
    margin-top: 10px;
    border: 1px solid #FD8B19;
    color: #FD8B19;
}

/*Product view*/
.price {
    font-weight: 600;
    font-size: 32px;
}

.card_view {
    border: 1px solid #E5E8EB;
}

.currency_item {
    font-weight: 600;
    font-size: 12px;
    background: white;
    margin-right: 10px;
    padding: 3px 10px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
}

.currency_item.active {
    background: #E2E9F6;
}

.view_options {
    margin-top: 10px;
}

.view_options li {

    font-size: 14px;
    line-height: 27px;
}

.card_view .main_btn {
    font-size: 26px;
    font-weight: 600;
}

.main_btn:hover {
    color: #d9d9d9 !important;
}

.room_plans_collapce {
    background: #FFFFFF;
    border: 1px solid rgba(80, 107, 132, 0.1);
    box-shadow: 22px 9px 10px rgba(0, 0, 0, 0.01), 12px 5px 8px rgba(0, 0, 0, 0.05), 6px 2px 6px rgba(0, 0, 0, 0.09), 1px 1px 3px rgba(0, 0, 0, 0.1), 0px 0px 0px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}

.product_view_accordion_item {
    background: #FFFFFF;
    border: 1px solid rgba(80, 107, 132, 0.1) !important;
    border-radius: 5px;
    transition: 0.3s all;
}

.product_view_accordion_item:hover {
    box-shadow: 22px 9px 10px rgba(0, 0, 0, 0.01), 12px 5px 8px rgba(0, 0, 0, 0.05), 6px 2px 6px rgba(0, 0, 0, 0.09), 1px 1px 3px rgba(0, 0, 0, 0.1), 0px 0px 0px rgba(0, 0, 0, 0.1);

}

.accordion-header {
    color: #506B84;
    font-weight: 500;
    font-size: 18px;
}

.accordion-button {
    text-align: right !important;
    color: #506B84 !important;
    background: transparent !important;
    cursor: pointer;
    box-shadow: none !important;
}

.accordion-button::after {
    margin: 0 !important;
}

.accordion-button_faq::after {
    margin-left: auto !important;
}

.card_flat {
    position: relative;
    background: #FFFFFF;
    border: 1px solid #E5E8EB;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.5);
    width: 100%;
    z-index: 1;
    transition: 0.3s all;
    opacity: 0;
}

.card_flat:hover {
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
    cursor: pointer;
    transition: 0.4s all;
}

.card_flat:hover .white_heart {
    /*transform: scale(1.1);*/
    /*display: none;*/
}

.card_flat_img {
    position: relative;
    padding: 45px;
    transition: 0.5s all;
}

.card_flat_price {
    font-weight: 600;
    font-size: 32px;
}

.card_flat_desc {
    font-weight: 500;
    font-size: 20px;
}

.white_heart {
    z-index: 2;
    display: none;
}

.gray_heart {
    /*display: none;*/
}

.gray_heart, .white_heart {
    position: absolute;
    top: 20px;
    right: 20px;
    z-index: 10;
}

.card_flat:hover .gray_heart {
    /*transform: scale(1.1);*/
    display: none;

}

.card_flat:hover .white_heart, .card_flat:hover .overlay {
    /*transform: scale(1.1);*/
    display: block;
    opacity: 1;
}

.view_options_column {
    flex: 0 0 50%;
    width: 50%;
    /*line-height: 10px;*/

}

.option_items {
    margin-top: 25px;
}

.option_items_icon {
    margin-right: 10px;
}

.descriptions_wrapper {
    margin-top: 30px;
}

.descriptions_item_tags .tag_item {
    font-size: 20px;
}

/*Faq*/
.inner_banner {
    padding: 190px 0;
    background: url(/uploads/banners/inner.png);
    /*background: linear-gradient(0deg, rgba(0, 0, 0, 0.76), rgba(0, 0, 0, 0.76)), url(/uploads/banners/inner.png);*/
}

.title_overlay {
    color: white;
}

.title_overlay p {
    font-size: 40px;
    line-height: 48px;
}

.title_overlay span {
    font-weight: 400;
    font-size: 24px;
}

.contact_form {
    background: #0B378C;
    border-radius: 5px;
    padding: 70px 40px;
}

.contact_form_title p {
    font-weight: 600;
    font-size: 32px;
}

.btn_faq {
    margin-top: 30px;
    background: #FD8B19;
    border: 1px solid rgba(80, 107, 132, 0.1);
    box-shadow: 22px 9px 10px rgba(0, 0, 0, 0.01), 12px 5px 8px rgba(0, 0, 0, 0.05), 6px 2px 6px rgba(0, 0, 0, 0.09), 1px 1px 3px rgba(0, 0, 0, 0.1), 0px 0px 0px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    color: white;
    font-size: 24px;
    width: 100%;
}

/*Contact*/
.contact_wrap {
    padding: 40px 50px;
}

.contact_address {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.about_blocks {
    margin-top: 40px;
}

.about_ribbon {
    padding: 60px 0;
}

.about_ribbon .form_text {
    padding: 0 50px;
    border-right: 2px solid rgba(195, 209, 221, 0.25);
}

.about_cards_icon {
    width: 115px;
    height: 115px;
}
.card{
    padding: 30px 40px;
}
.about_cards_section{
    margin-top: 100px;
}

/*Footer*/
.footer {
    margin-top: 60px;
    background: #0B378C;
}